*{
    padding: 0;margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #999;
    }
#chat-view{
    background-color: #eee;
    margin: 0 auto;
    border: 1px solid #f55;
    overflow: auto;
}
#chat-box{
   
}
#sent-form{
    margin: 0 auto;
    
}

#sent-btn{
    background-color: #999;
}
#name-lable{
    margin-left:100px; 
}

#chat-list span{
    
    display: inline-block;
}
.time-text{
    color:#bbb;
}
.name-text{
    color:#55f;
}
.online-text{
    color:#f55;
}
.speak-text{
    
}


@media screen and (max-width: 768px){
    
    #chat-box{
        background-color: #ddc;
        width: 100%;
        height: 100%;
        font-size: 24px;
        
    }
    #chat-view{
        width: 600px;
        height: 750px;
        font-size: 24px;
    }
    #sent-form{
        height: 160px;
        width: 600px;
        font-size: 24px;
    }
    #text-input{
        height: 120px;
        width: 600px;
        font-size: 24px;
    }
    .time-text{
        width: 140px;    
    }
    .name-text{
        width: 140px;
    }
    #sent-btn{
        background-color: #999;
        width: 100px;
        height: 50px;
        font-size: 24px;
    }
    #name-input{        
        font-size: 24px;
        width: 200px;
    }
}

@media screen and (min-width: 768px){
    #chat-box{
        background-color: #ddc;
        width: 960px;
        height: 100%;
        margin: 0 auto;
    }
    #chat-view{
        width: 600px;
        height: 500px;
        font-size: 14px;
    }
    #sent-form{
        height: 160px;
        width: 600px;
    }
    #text-input{
       height: 120px;
       width: 600px;
    }
    .time-text{
        width: 80px;    
    }
    .name-text{
        width: 90px;
    }
    
    
}